@import url('https://fonts.googleapis.com/css?family=Audiowide|Bungee');

html {
  background: url(http://media1.popsugar-assets.com/files/2015/04/30/775/n/1922398/49aaba0705004e3d_ST-ewokvillageUyNap4.fbshare/i/Inspiration-Bright-Tree-Village-Endor.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  /*padding: 0;*/
  font-family: 'Audiowide', cursive;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.thugLife {
  height: 200px;
  display: inline-block;
  padding-top: 20px;
}

.nav {
  display: flex;
  /*flex-direction: column;*/
  /*align-items: center;*/
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.nav-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 300px;
}

button {
  padding: 10px;
  background-color: #85ca65;
  border-radius: 5px;
  font-family: 'Audiowide', cursive;
}

.link-box {
  padding: 10px;
  background-color: #85ca65;
  border-radius: 5px;
  text-decoration: none;
  font-size: 12px;
  margin: 3px;
  text-align: center;
}

.quizLink {
  margin-left: 70px;
  margin-right: 70px;
}

.quiz-link {
  text-decoration: none;
  flex: 12;
  color: #000;
}

.card-link {
  text-decoration: none;
  color: #000;
  flex: 0 1 auto;
}

.landing {
  background-color: rgba(255,255,255,0.6);
  height: 550px;
  width: 700px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  font-family: 'Bungee', cursive;
  font-size: 42px;
}

.ewok-friend {
  height: 200px;
  border-radius: 8px;
  margin: 3px;
}

.quiz {
  background-color: rgba(255,255,255,0.6);
  width: 700px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 15px;
}

.logoutContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.quiz h1 {
  margin-top: 0;
}

.english-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  margin: 10px;
  color: #000;
}

.word-meaning {
  font-family: 'Bungee', cursive;
}

.thugLife {
  height: 200px;
  margin-top: -20px;
}

.ewokLife {
  height: 200px;
}

.card-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-page-nav {
  display: flex;

}

.cardPage-title {
  background-color: rgba(255,255,255,0.6);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.printable {
  width: 400px;
  margin: auto;
  margin-top: 50px;
}

.card-header h1 {
  height: 125px;
  width: 350px;
}

.card-header h2 {
  margin-top: -28px;
  height: 85px;
  width: 350px;
  text-align: center;
}

.print-card p {
  background-color: #fff;
  padding-top: 80px;
  height: 100px;
  width: 300px;
  border: 2px dashed black;
  display: inline-block;
}

.study-card p {
  padding-top: 80px;
  height: 100px;
  width: 300px;
  border: 2px solid black;
  display: inline-block;
  border-radius: 5px;
  background-color: #fff;
}

@media (max-width: 730px) {
  .landing, .quiz {
    width: 95%;
    /*height: 650px;*/
    padding: 0;
    justify-content: space-around;
  }
  .landing h1 {
    font-size: 30px;
  }
  .link-box {
    font-size: 10px;
    padding: 8px;
  }
  .quiz {
    justify-content: space-between;
  }
  .ewok-friend {
    height: 46vmin;
  }
  .thugLife, .ewokLife {
    height: 50vmin;
  }

}

@media (max-height: 567px) {
  .landing, .quiz {
    width: auto;
    height: 95%;
    font-size: 1.5vmax;
    padding: 6px;
  }
  .quiz {
    width: 70%;
    height: 95%;
  }
  .link-box {
    font-size: 8px;
    padding: 8px;
  }
  button {
    padding: 8px;
  }
  .thugLife, .ewokLife {
    height: 40vmin;
  }
  h1 {
    font-size: 4vmax;
    margin: 3px;
  }
  h2 {
    margin: 3px;
  }
  h3 {
    font-size: 2vmax;
    margin: 6px;
  }
}
