@import url('https://fonts.googleapis.com/css?family=Audiowide|Bungee');

html {
  background: url(https://raw.githubusercontent.com/jpke/spaced-rep-deploy/master/ewokVillage.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  font-family: 'Audiowide', cursive;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.thugLife {
  height: 200px;
  display: inline-block;
  padding-top: 20px;
}

.nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.nav-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 300px;
}

.nav-login button {
  margin: 6px;
}

button {
  padding: 10px;
  background-color: #85ca65;
  border-radius: 5px;
  font-family: 'Audiowide', cursive;
}

.link-box {
  padding: 10px;
  background-color: #85ca65;
  border-radius: 5px;
  text-decoration: none;
  font-size: 12px;
  margin: 3px;
  text-align: center;
}

.quiz-link {
  text-decoration: none;
  flex: 12;
  color: #000;
}

.card-link {
  text-decoration: none;
  color: #000;
  flex: 0 1 auto;
}

.landing {
  background-color: rgba(255,255,255,0.6);
  height: 550px;
  width: 700px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  font-family: 'Bungee', cursive;
  font-size: 42px;
}

.ewok-friend {
  height: 200px;
  border-radius: 8px;
  margin: 3px;
}

.quiz {
  background-color: rgba(255,255,255,0.6);
  width: 700px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 15px;
}

.logoutContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.quiz h1 {
  margin-top: 0;
}

.english-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  margin: 10px;
  color: #000;
}

.word-meaning {
  font-family: 'Bungee', cursive;
}

.thugLife {
  height: 200px;
  margin-top: -20px;
}

.ewokLife {
  height: 200px;
}

.card-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-page-nav {
  display: flex;

}

.card-page-nav .link-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardPage-title {
  background-color: rgba(255,255,255,0.6);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  width: 400px;
  margin: 6px auto;
}

.card-header h1 {
  width: 350px;
  margin: 3px;
  font-size: 30px;
}

.card-header h2 {
  font-size: 20px;
  width: 350px;
  text-align: center;
  margin: 3px;
}

.print-card p {
  background-color: #fff;
  height: 100px;
  padding-top: 80px;
  width: 300px;
  border: 2px dashed black;
  display: inline-block;
}

.study-card p {
  padding-top: 80px;
  height: 100px;
  width: 300px;
  border: 2px solid black;
  display: inline-block;
  border-radius: 5px;
  background-color: #fff;
}

/*responsive design*/
@media (max-width: 730px) and (orientation: landscape){
  .landing, .quiz {
    width: 90%;
    height: 90%;
    padding: 0;
    justify-content: space-around;
  }
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
    margin: 0;
  }
  h3 {
    font-size: 18px;
    margin: 0;
  }
  .nav-buttons {
    width: 80%;
    display: flex;
  }
  .link-box {
    padding: 6px;
    flex: 1;
    margin: 3px;
  }
  .quiz {
    justify-content: space-between;
  }
  .logout {
    margin-top: 10vh;
    margin-right: 0.6vw;
  }
  .ewok-friend {
    height: 46vmin;
  }
  .thugLife, .ewokLife {
    height: 50vmin;
  }
  .card-page-nav .link-box {
    font-size: 15px;
  }
  .cardPage-title {
    margin-top: 12px;
  }
}

@media (max-width: 430px) and (orientation: portrait){
  .landing {
    width: 90%;
    height: 85%;
    font-size: 1.5vmax;
    padding: 6px;
    justify-content: space-around;
  }
  .quiz {
    width: 85%;
    height: 90%;
    justify-content: flex-start;

  }
  .link-box {
    font-size: 12px;
    padding: 8px;
  }
  button {
    padding: 8px;
  }
  .thugLife, .ewokLife {
    height: 40vmin;
  }
  .quiz h1 {
    margin-top: 12px;
  }
  h1 {
    font-size: 30px;
    margin: 12px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 25px;
    margin: 12px auto;
  }
  .logout {
    margin: 0;
  }
  .english-input {
    display: flex;
    flex-direction: column;
    margin: 12px;
  }
  .card-page-nav {
    width: 92%;
    margin: 3px auto;
  }
  .cardPage-title {
    width: 92%;
  }
  .cardPage-title h2 {
    font-size: 18px;
  }
  .print-card {
    width: 92%;
    margin: 0 auto;
  }
  .print-card p {
    width: 48%;
    height: 70px;
    padding-top: 58px;
  }
}
