@import url('https://fonts.googleapis.com/css?family=Audiowide|Bungee');

html { 
  background: url(http://media1.popsugar-assets.com/files/2015/04/30/775/n/1922398/49aaba0705004e3d_ST-ewokvillageUyNap4.fbshare/i/Inspiration-Bright-Tree-Village-Endor.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Audiowide', cursive;
}

button {
  padding: 10px;
  background-color: #85ca65;
  border-radius: 5px;
  opacity: .99 !important;
  font-family: 'Audiowide', cursive;
}

Link {
  padding: 10px;
  height: 10px;
  background-color: #85ca65;
  border-radius: 5px;
  opacity: .99 !important;
}

.App {
  text-align: center;
}

.landing {
  background-color: #fff;
  opacity: .7;
  height: 500px;
  width: 700px;
  margin: auto;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
    margin-left: -300px;
}

h1 {
  font-family: 'Bungee', cursive;
  font-size: 42px;
}

.ewok-friend {
  height: 200px;
  opacity: 100% !important;
  border-radius: 8px;
}

.quiz {
  background-color: #fff;
  opacity: .7;
  height: 500px;
  width: 700px;
  margin: auto;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
    margin-left: -300px;
}

.quiz h1 {
  margin-left: 60px;
}

.logout {
  float: right;
  margin: 15px;
  position: relative;
}

.word-meaning {
  font-family: 'Bungee', cursive;
}

.thugLife {
  height: 200px;
  display: inline-block;
  padding-top: 20px;
}

.ewokLife {
  width: 150px;
}

.print-card p {
  background-color: #fff;
  height: 200px;
  width: 300px;
  border: 2px dashed black;
  display: inline-block;
}

.study-card p {
  height: 200px;
  width: 300px;
  border: 2px solid black;
  display: inline-block;
  border-radius: 5px;
}